::ng-deep ngx-datatable {
  .datatable-header {
    background-color: #f2f2f2;
  }
  .datatable-body-cell {
    border: 1px solid #e5e5e5;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}
